{{ if .Site.Params.skills.enable | default false }}
<section id="skills" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.skills.title | default "Skills" }}</h3>
        <div class="row justify-content-center px-3 py-5">
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                <div class="text-center">
                   {{ .Site.Params.skills.content | default "" | markdownify }}
                </div>
                <ul class="list-inline text-center mt-4">
                    {{ range .Site.Params.skills.items }}
                    <li class="list-inline-item m-2">
                        <span class="badge bg-secondary p-3 fs-6">{{ . }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
