/* projects override */

#projects h3 {
    color: var(--text-secondary-color) !important;
}

#projects a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#projects .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#projects .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    min-height: auto; /* Removed 400px */
    overflow: hidden;
    border-radius: 1.5rem; /* Match other cards */
    border: 2px solid var(--text-secondary-color); /* Added border here too */
}

#projects .card:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
    transition: transform 0.3s;
    transform: translateY(-7px);
    border: 2px solid var(--primary-color);
}

#projects .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}